functions-framework==3.*
google-cloud-iam==2.*
google-api-python-client==2.*
google-auth==2.*
requests==2.*
PyYAML==6.*
google-cloud-asset==4.*
google-cloud-bigquery==3.*
google-cloud-pubsub==2.*
google-cloud-aiplatform==1.*
